.footer-component {
  background-color: #175c83;
  width: 100%;
  //padding: 50px 25px;
  padding: 40px 25px;
  .main-wrapper {
    //max-width: 1366px;
    margin: auto;
    display: flex;
    justify-content: space-around;

    .left {
      width: 22%;

      img {
        max-width: 100%;
        max-height: 140px;
      }

      .para {
        margin-top: 20px;
        color: #fff;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
      }
    }

    .center {
      width: 40%;
      margin-top: 15px;
      display: flex;
      justify-content: space-evenly;

      .menu {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;

        .link {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 21px;
          line-height: 24px;

          display: flex;
          align-items: center;

          color: #ffffff;

          cursor: pointer;

          //margin-bottom: 25px;
          margin-bottom: 16px;
          margin-top: 4px;
          transition: all 0.1s ease-in-out;
        }
      }
    }

    .right {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .socialicons {
        img {
          width: 41px;
          height: 33px;
          margin-left: 12px;
        }
      }
      .bottom_wrapper {
        .text {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: #ffffff;
          width: 227px;
        }
        img {
          height: 32px;
          width: 38px;
          margin-top: 8px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .footer-component {
    padding: 40px 20px;

    .main-wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .left {
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .center {
        width: 100%;
        justify-content: space-evenly;
        margin: 50px 0 40px;
      }

      .right {
        max-width: 500px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .footer-component {
    .main-wrapper {
      .left {
        max-width: 500px;
        width: 100%;
        display: block;
      }

      .center {
        margin: 40px 0 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .margin_left {
          margin-left: 46px;
        }

        .menu {
          .link {
            font-size: 18px;
          }
        }
      }

      .right {
        .bottom_wrapper {
          margin-top: 60px;
          margin-bottom: 60px;
        }
      }
    }
  }
}
